#body_content{
    width:80%;
    margin: auto;
}
#table {
    border-collapse: collapse;
    table-layout: fixed;
    background-color: oldlace;
    /* border: 1px solid black; */
}
.table  th, td{
    border-bottom: 1px solid black;


}

.order-summery{
    width: 40%;
}

.btn{

   
    border: none;
    
    padding: 3px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:5px;
   
    font-weight: 700;
    padding-top:7px;
    padding-bottom: 7px;
}

#pay{
    color: white;
    background-color: #4CAF50;
   
    border: 1px solid #152e15;
    
}
#payment{

    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}

#total{

    
    margin-right: 25px;
}

.shipping-address{
    background-color: aliceblue;

}

.payment-method{
    background-color: aliceblue;
}