{% extends "fileupload/home.html" %} {% load static %} {% block css%}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %} {% block content %}
<div class="about">
  <h1>Mobilecomm technologies</h1>
  <p>
    Mobilecomm Technologies India Private Limited is an unlisted private company
    incorporated on 11 May, 2007. It is classified as a private limited company
    and is located in Delhi, Delhi. It's authorized share capital is INR 4.00 cr
    and the total paid-up capital is INR 3.77 cr. Description: The Copmany is
    enagged in wireless services arena. Products & Services: RF engineering
    consulting, RF training and data collection, network planning, network
    design and build-out, implementation and testing of new network
    technologies, training, geo data, and GIS services and solutions The current
    status of Mobilecomm Technologies India Private Limited is - Active. The
    last reported AGM (Annual General Meeting) of Mobilecomm Technologies India
    Private Limited, per our records, was held on 30 November, 2021. Also, as
    per our records, its last balance sheet was prepared for the period ending
    on 31 March, 2021. Mobilecomm Technologies India Private Limited has five
    directors - Gurmeet Singh Likhari, Harvinder Cheema, and others. The
    Corporate Identification Number (CIN) of Mobilecomm Technologies India
    Private Limited is U74120DL2007PTC163322. The registered office of
    Mobilecomm Technologies India Private Limited is at 303, VARDHMAN SHRENIK
    PLAZA, LOCAL SHOPPING CENTRE, POCKET-B, MAYUR VIHAR-II,, DELHI, Delhi. Lorem
    ipsum dolor, sit amet consectetur adipisicing elit. Expedita repudiandae
    optio earum ad iure quia? Maxime magni adipisci atque, obcaecati, asperiores
    unde nisi totam corrupti a ipsa consectetur illum facilis alias, repellendus
    accusamus labore nam expedita soluta iure tenetur tempora fuga doloremque
    numquam. Excepturi nulla corrupti, laudantium saepe enim iste aliquam aut
    suscipit animi, perferendis repellendus ut dolore mollitia eos minus
    laboriosam tenetur iusto rerum quasi facilis optio magni veniam quidem ipsa.
    Nostrum cupiditate natus commodi, deleniti quia tempora. Alias
    necessitatibus fuga dolorum nam consequatur dolor expedita, harum, molestias
    quae at esse quos. Quidem, consectetur! Ad maxime quos ipsum esse enim
    officiis delectus qui amet consectetur numquam mollitia exercitationem
    minus, nam veritatis, vel quisquam voluptates illum recusandae earum
    deleniti ipsam ex reiciendis? Inventore assumenda at odio debitis cumque,
    voluptatum fugiat iure maiores similique esse quia eius numquam deleniti
    vero impedit qui saepe dignissimos corporis aliquid amet voluptate ratione
    non odit blanditiis? Odio eius assumenda ad, vel nisi quo perferendis
    nesciunt sapiente aperiam, cumque laborum labore consequuntur, rem nemo
    maxime dolor voluptatem autem. Animi pariatur sit assumenda quod molestias
    veritatis quaerat non doloribus enim tempore optio, accusantium dicta! Sequi
    fugit rerum eveniet, magni architecto nesciunt suscipit esse adipisci ut ad
    tempora nulla velit provident vitae totam dignissimos, harum eum earum, qui
    temporibus. Id, quod at! Praesentium dolor esse voluptatum non ab, rerum,
    minima ipsam mollitia ut labore asperiores! Nesciunt atque iure recusandae,
    necessitatibus quibusdam molestias incidunt tenetur quod nisi enim autem
    veniam, laboriosam modi fuga vitae aut fugiat. Aliquid, id perferendis
    adipisci error, dolor repudiandae esse necessitatibus ducimus ipsa ipsam
    quod, commodi tenetur officiis. Aut eius asperiores perspiciatis rem
    placeat, consequatur maiores soluta neque modi sapiente cupiditate nam autem
    est! Quo voluptatibus libero, ullam, quae inventore odio quis numquam nihil
    culpa, sapiente consectetur illum labore eum pariatur! Unde odit sed
    laboriosam eaque ad veniam illum amet repellat eos, voluptates ipsa vel,
    rerum atque perspiciatis id pariatur. Nulla similique debitis adipisci ex
    enim, natus laudantium, soluta numquam beatae neque quam impedit ipsa
    ducimus nesciunt sint dolorum alias ipsam. Earum atque deserunt laboriosam
    rem nisi iusto optio dolor veniam, aspernatur praesentium eveniet. Sunt
    minus numquam ab! Excepturi magni obcaecati possimus fugit, qui officia est
    alias rem a cumque ea. Dolore praesentium sint consequatur deleniti dolor
    veniam et doloremque libero odio? Excepturi provident fugiat repellendus
    quibusdam modi ipsa ab aut obcaecati, voluptates ducimus libero,
    consequuntur repellat porro rerum explicabo nulla ex quaerat! Aliquam
    dolorum ex aspernatur quaerat exercitationem asperiores minus odit sequi
    ratione harum quos perferendis, maiores ad consequuntur velit cupiditate
    commodi laboriosam veritatis voluptas. Libero voluptate distinctio
    temporibus provident dolorem beatae consequuntur asperiores veniam porro
    esse facere eaque quasi doloribus ex eveniet ea, animi numquam commodi
    voluptatibus aperiam inventore ipsam nostrum repudiandae? Incidunt
    necessitatibus deleniti perferendis velit! Harum, facilis omnis! Eveniet
    modi nobis quidem, ipsa nam illo laborum, sit animi molestiae, cupiditate
    quis magni. Unde sed voluptas quod in qui culpa quisquam impedit deserunt,
    vitae rerum rem illo ipsum enim quibusdam mollitia, placeat velit dolor.
    Delectus autem iure recusandae odit. Minima unde dolores assumenda illo!
    Minima eos facilis harum excepturi, quos voluptate accusantium porro nostrum
    corporis possimus. Magni esse dolor repudiandae recusandae quidem natus ad
    soluta, sint consectetur quis. Aperiam natus totam perspiciatis consequatur
    fuga itaque, labore sequi consectetur corporis dolores quia! Quod dolore
    aliquid fuga atque hic velit non, amet pariatur. Saepe ducimus accusantium
    iusto. Quos magni quisquam itaque. Vero quasi ducimus voluptatibus commodi
    tenetur quisquam doloremque omnis. Dolore repellendus eum cumque odit
    quisquam necessitatibus, nulla tempore, ipsam molestiae omnis deleniti ipsa
    quia voluptatum mollitia. Corporis, nihil ratione earum tempore iste eum in
    officia aliquid voluptate ab veritatis doloremque sequi? Deserunt fugit,
    voluptate accusamus quaerat omnis eius incidunt eveniet aliquam quod,
    repellat sit laudantium, asperiores delectus nihil architecto excepturi iure
    soluta! Laudantium vero, doloribus mollitia esse atque at fugit, ullam
    libero ut vitae totam quasi similique distinctio id veniam. Placeat, ad
    ipsam. Debitis doloremque totam consequatur rem. Omnis nemo quod quia eius
    sint ipsa velit, ut facilis iste dolor rerum blanditiis impedit harum
    distinctio? Ipsa, vero vel. Sequi doloribus dolores explicabo itaque debitis
    id consequuntur dicta excepturi atque pariatur, magni saepe dolor ipsum ad
    inventore doloremque nemo dolorem, sunt a nostrum nesciunt alias eos quo.
    Quaerat placeat consequatur consectetur, nisi ratione eligendi reprehenderit
    possimus reiciendis? Repellat temporibus adipisci maxime omnis at autem
    dolore accusantium similique perferendis dolor asperiores alias provident
    ullam laboriosam quas id maiores explicabo aperiam quae, veniam fuga
    pariatur aliquid fugiat nemo. Atque eum molestiae optio ullam asperiores
    modi iure illo ipsum similique perspiciatis recusandae fugit maiores, quos
    aspernatur harum velit ipsa repudiandae iusto eaque voluptatum quia
    accusamus architecto. Animi ipsum dolores delectus id nam ea blanditiis
    quasi ut repellendus molestias soluta laborum neque, quia, placeat impedit a
    eum nobis perspiciatis dolorem voluptate laboriosam fugiat labore. Soluta
    eum suscipit reiciendis enim quam numquam iste expedita velit nulla sunt
    repellendus, sequi, ipsam laborum facere? Ipsum officia aliquam praesentium
    voluptas. Architecto, minus eaque? Quam facere cumque, soluta quaerat
    necessitatibus error dolore commodi nisi aliquid mollitia id maiores
    consequatur accusamus doloremque repellendus eveniet voluptatem sint
    expedita. Nulla repellendus possimus excepturi ipsa quisquam voluptate at
    nisi. Sequi et rerum quidem minus, quis adipisci illo dicta magni porro
    minima odio aperiam perferendis eveniet recusandae aut ratione quaerat
    provident aliquid incidunt saepe consequuntur atque excepturi accusantium.
    Libero voluptates magni natus, recusandae nostrum, eos, expedita nesciunt
    aut provident laudantium dolorem veritatis quis illum iste consectetur
    labore eligendi quas minima. Incidunt facere, quis obcaecati ipsa eum
    aliquam fuga? Ipsum, tenetur itaque. Dolore temporibus accusamus nulla
    fugiat ullam aut atque, iure incidunt asperiores minima autem ex blanditiis
    ab nam aliquam, voluptas et animi saepe harum omnis ad veritatis maxime.
    Earum quod debitis deserunt fugit, recusandae nihil laborum asperiores velit
    adipisci pariatur expedita minus id. Eos exercitationem ad provident ab in
    molestias perferendis recusandae voluptate aut, quo qui iste facere atque
    quaerat maxime nostrum distinctio, illum ex officia ullam accusantium
    accusamus. Incidunt corporis praesentium ex provident mollitia deleniti amet
    aperiam facilis cumque neque deserunt aut labore aliquid totam, maxime
    soluta ea hic laborum repellendus tenetur quam officiis! Unde, doloremque
    ducimus.
  </p>
</div>
{% endblock %}
