{% extends "shop/base.html" %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'css/shop/contactus.css' %}">
 {% endblock %}

 {% block content %}
 <div id="form_body">
 <form method = "post" enctype = "multipart/form-data" id="form" >
    <h2 style="text-align:center;">Contact Us</h2>
    <h3 style="text-align:center;">Please fill all the mendatory fileds marked'<span style="color:red;">*</span>'</h3>
     {% csrf_token %}
     {{ form.name.errors }}
     <label for="{{ form.name.id_for_label }}">Name:<span style="color:red;">*</span></label>
     {{ form.name }}
     <label for="{{ form.email.id_for_label }}">Email:<span style="color:red;">*</span></label>
     {{ form.email }}
     <label for="{{ form.phone_no.id_for_label }}">Phone No.:<span style="color:red;">*</span></label>
     {{ form.phone_no }}
     <label for="{{ form.subject.id_for_label }}">Subject:<span style="color:red;">*</span></label>
     {{ form.subject }}
     <label for="{{ form.message.id_for_label }}">Message:<span style="color:red;">*</span></label>
     {{ form.message }}
     <br>
     {% for message in messages %}
     
        <h3 class="message" style="text-align:center;">{{message}}</h3>
       
     {% endfor %}
   <div id="frm_btns"> <button type = "submit" class="btn" id="add">Submit</button>
     <!-- <a href="{% url 'cat_list' %}"> <button id="cancel" class="btn" type="button">Cancel</button > -->
     </div>
    </form>

    </div>

{% endblock %}